<% @imputation_reasons.each do |imputation_reason| %>
    <tr>
    <td><%= imputation_reason.name %></td>
    <td><%= imputation_reason.description %></td>
    <td>
	    <div class="action-buttons">
			<%= link_to raw('<i class="fa fa-pencil" aria-hidden="true"></i>
'),  edit_imputation_reason_path(imputation_reason), title: "Modifier", remote: true %>




<%= link_to raw('<i class="fa fa-trash-o" aria-hidden="true"></i>
'), imputation_reason_delete_path(imputation_reason), remote: true, title: "Supprimer", class: "delete" %>
</div>
</td>
    </tr>
<% end %>