<% @head_ponts.each do |head_pont| %>
      <tr>
        <td><%= head_pont_type(head_pont.head_pont_type_id).name %></td>
        <td><%= head_pont.number %></td>
        <td>
	    <div class="action-buttons">
			<%= link_to raw('<i class="fa fa-pencil" aria-hidden="true"></i>
'),  edit_head_pont_path(head_pont), title: "Modifier", remote: true %>




<%= link_to raw('<i class="fa fa-trash-o" aria-hidden="true"></i>
'), head_pont_delete_path(head_pont), remote: true, title: "Supprimer", class: "delete" %>
</div>
</td>  
      </tr>
    <% end %>