<%= form_with(url: post_importation_path, local: false) do |form| %>
    <div class="modal-body">
        <div class="row">
            <div class="col-md-12">
                <div class="form-group text-center">
                    <%= form.file_field :file_name, required: true %>
                </div>
            </div>
        </div>
    </div><!-- modal body -->
    <div class="modal-footer">
        <%= link_to "Annuler", "#", class: "btn", data: {dismiss: "modal"} %>
        <%= form.button "Importer",  class: "btn btn-warning",  data: {disable_with: "<i class='fa fa-spinner fa-spin'></i> Importation en cours..."}, autocomplete: "off" %>
    </div>
<% end %>

